 body {
      background-color: #d6d6d6;
    }
    .about-section {
      padding: 60px 0;
    }
    .about-title {
      font-size: 80px;
      color: #000;
    }
    .about-subtitle {
      font-size: 24px;
      margin-top: 20px;
      font-weight: 500;
      
    }
    .about-text {
      font-size: 16px;
      margin-top: 20px;
      color: #333;
      line-height: 1.8;
    }
    .about-image img {
      width: 100%;
      height:500px ;
      border-radius: 5px;
    }
    /* mission */
     .mission-section {
      padding: 60px 0;
      background: linear-gradient(to bottom left, #ffffff, #d3d3d3);
    }
    .mission-title {
      font-size: 3rem;
    color: #000;
    }
    .mission-text {
      font-size: 1.1rem;
      line-height: 1.8;
    }
    .mission-image {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      height: 500px ;
    } 