.our-programs-section {
background: url('../images/img10.avif') center center/cover no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
    padding: 5% 20px;
  position: relative;
}

.our-programs-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.our-programs-content {
  position: relative;
  z-index: 2;
}

.our-programs-section h1 {
  font-weight: bold;
  font-size: 3rem;
}

.our-programs-section p {
  font-size: 1.3rem;
  max-width: 800px;
  margin: 0 auto;
}

.bg-light-grey {
  background-color:rgb(230, 230, 230); /* Light grey */
}
    .program-img {
      max-width: 100%;
      height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61); /* Soft shadow */
  transition: transform 0.3s ease;
 }

 .category-card {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61); /* Soft shadow */
  transition: box-shadow 0.3s ease;
}

.category-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly stronger on hover */
}

.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.category-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Black with opacity */
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2; /* Above overlay */
}

/* Hover Effects */
.category-card:hover img {
  transform: scale(1.1);
}

.category-card:hover .overlay {
  opacity: 1;
}